*{
    margin: 0;
    padding: 0;
}

body {
    height: 400px;
    width: 350px;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

div#content {
    border: 1px solid black;
    height: 400px;    
}

.showButton{
    background:url(plus.png) no-repeat;
    border: none;
    border-radius: 100%;
    float: right;
    width: 20px;
    height: 20px;
}

div.div_tasks{
    height: 100px;
}

.group { zoom: 1 }