*{
    margin: 0;
    padding: 0;
}

body {
    width: 330px;
    margin: 0 auto;
    /*overflow: scroll;
	overflow-x: hidden;*/
}

li {
    display: list-item;
    color: green;
}

ul {
	display: block;
}

label {
    display: inline-block !important;
}


iframe {
	height: 350px;
	/*overflow-y:scroll !important;	
	overflow-x:hidden !important;*/
}

div#header {
	padding: 5px;
	font-size: 30px;
    text-align: center;
}

div#div_tasks {
    display: block;
    position: relative;
}

div#inputContainer {
	padding: 15px;
    display: inline-block;
    width: 95%;	
}

div#listWrapper {
	left: 0;
	right: 0;
}

a#plus{
    display: inline-block !important;
    width: 5%;
    float: right;
    margin-top: 6px;
}

.task:hover span.remove{
    display: block;
}

span.remove {
   /* display: inline-block;*/
    display: none;
    width: 10%;
    float: right;
	margin-right: 10px;
}

.new-todo {
    width: 90% !important;
    border: 1px solid green;
    display: inline-block !important;
}

.taskText {
    padding-left: 10px;
}

.toggle {
    display: inline-block !important;
}

.group { zoom: 1 }